{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <form>
    {{ form.non_field_errors }}
    <section class="input">
      <label class="input__label" for="id_value">{{ form.valor.label }}</label>
      {{ form.moeda }} {{ form.moeda.errors }}
      {{ form.valor }} {{ form.valor.errors }}
      <button class="input__button" type="submit">Calcular</button>
      <p class="input__disclaimer">Atualizado em <time datetime="{{ exchange_date|date:'c' }}">{{ exchange_date }} (Brasília)</time>.</p>
    </section>
    {% if output %}
      <section class="output">
        <output class="output__value" for="input__field">R$ {{ output|intcomma }}</output>
      </section>
    {% endif %}
  </form>
{% endblock %}
