{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <form>
    {{ form.non_field_errors }}

    <section class="input">

      {{ form.currency }} {{ form.currency.errors }}
      <input class="input__field" id="input__field" name="{{ form.value.name }}" value="{{ form.value.value }}" type="number" min="1" max="10000" step="any" autocomplete="off" autofocus required> {{ form.value.errors }}
      <button class="input__button" type="submit">Calcular</button>

      {% if exchange_date %}
        <p class="input__disclaimer">Atualizado em <time datetime="{{ exchange_date|date:'c' }}">{{ exchange_date }} (Brasília)</time>.</p>
      {% endif %}

    </section>

    {% if output %}
      <section class="output">
        <output class="output__value" for="input__field">R$ {{ output|intcomma }}</output>
        <p class="output__disclaimer">Esse é o valor que você vai pagar, caso a compra seja aprovada e processada hoje.</p>
      </section>
    {% endif %}

  </form>
{% endblock %}
