{% extends 'base.html' %}

{% block content %}
  <form>
    {{ form.non_field_errors }}
    <section class="input">
      <label class="input__label" for="id_value">{{ form.valor.label }}</label>
      {{ form.moeda }} {{ form.moeda.errors }}
      {{ form.valor }} {{ form.valor.errors }}
      <button class="input__button" type="submit">Calcular</button>
      <p class="input__disclaimer">Atualizado em <time datetime="2018-09-25 20:30:00-03:00">25/09/2018 às 20h30 (Brasília)</time>.</p>
    </section>
    {% if output %}
      <section class="output">
        <output class="output__value" for="input__field">{{ output }}</output>
      </section>
    {% endif %}
  </form>
{% endblock %}
